nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: gray;
  color: white;
}
.enlaces{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.Logo{
  width: 20px;
  height: 20px;
}